<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="backend_auth_user_login_failed">
		<observer name="workshopAdminFail" instance="Meetmagento\Workshop\Observer\Adminfail" />
	</event>
</config>
